@font-face {
    font-family: "Font1";
    src: url("../../fonts/MagilioRegular-8Mxvg.otf") format("otf");
    /* Add additional sources and formats as needed */
  }
  @font-face {
    font-family: "Font2";
    src: url("../../fonts/thegoodmotherdemo-zvdrj.otf") format("otf");
    /* Add additional sources and formats as needed */
  }
  @font-face {
    font-family: "Font3";
    src: url("../../fonts/SurprisedmonkeyBold-BF654c6150f115a.ttf") format("ttf");
    /* Add additional sources and formats as needed */
  }
.page1container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}
.page1Hitext{
    font-family: 'Font1';
    font-size: 7rem;
    animation: slideIn 3s ease forwards;
    margin-top: 15vh;
}
@keyframes slideIn {
    0% {
      transform: translateX(-250%); /* Start off-screen to the left */
    }
    100% {
      transform: translateX(0); /* Move to the final position inside the container */
    }
  }

.page1Introtext{
    font-family: 'Font2';
    font-size: 3rem;
    animation: slideIn2 3s ease forwards;
    margin-top: 3vh;
}
@keyframes slideIn2 {
    0% {
      transform: translateX(360%); /* Start off-screen to the left */
    }
    100% {
      transform: translateX(0); /* Move to the final position inside the container */
    }
  }
.page1textcontainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.animationpage1{
    margin-top: 1vh;
}
.page1Introtext2{
    font-family: "Font2";
    font-size: 1.5rem;
    animation: slideIn3 3s ease forwards;
    margin-top: 6vh;
}
@keyframes slideIn3 {
    0% {
      transform: translateY(360%); /* Start off-screen to the left */
    }
    100% {
      transform: translateY(0); /* Move to the final position inside the container */
    }
  }