.app {
  height: 100vh;
  overflow: hidden;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

button {
  position: absolute;
  bottom: 5vh;
  right: 30vw;
}
.introducebutton{
  width: 5vw;
  height: 7vh;
  background-color: rgb(204, 0, 255);
  font-size: 0.8rem;
  border: none;
  border-radius: 10%;
}
.introducebutton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  background-color: red;
  transition: background-color 0.5s ;
  animation: heartbeat 1.5s infinite;
  font: bold;
}

.introducebutton:hover {
  background-color: rgb(255, 0, 60);
  padding: 12px 22px;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
    padding: 10px 20px;
  }
  25% {
    transform: scale(1.1);
    font-size: 18px;
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 1195px) {
  .introducebutton {
    padding: 2px 4px;
    font-size: 10px;
    width: 6vw;
  height: 4vh;
  }
  @keyframes heartbeat {
    0% {
      transform: scale(1);
      padding: 3px 10px;
    }
    25% {
      transform: scale(1.1);
      font-size: 11px;
    }
   
  }
}

@media (max-width: 721px) {
  .introducebutton {
    padding: 1px 2px;
    font-size: 5px;
  }
  @keyframes heartbeat {
    0% {
      transform: scale(1);
      padding: 2px 5px;
    }
    25% {
      transform: scale(1.1);
      font-size: 7px;
    }
   
  }
}

@media (max-width: 486px) {
  .introducebutton {
    padding: 1px 2px;
    font-size: 2px;
  }
  @keyframes heartbeat {
    0% {
      transform: scale(1);
      padding: 2px 5px;
    }
    25% {
      transform: scale(1.1);
      font-size: 5px;
    }
   
  }
}
@media (max-width: 779px) {
  button {
    
    bottom: 5vh;
    right: 47vw;
  }
}